.content
  .icon-tips
  h2.title-destacado 
    a(href="") Novedades
  .content-info
    .title-elements 
      h2.teme Tema
      h1.title-main Edificación de un nuevo salón 
      p.bajada 
        | Con la construcción se intenta dotar a la biblioteca de un espacio cómodo para la realización de las diferentes actividades.
      p.date Feb 5, 2014  |  Sara Eliana Riquelme
    img.image(src="")
    p.text-main 
      | Este proyecto surge como parte del plan de trabajo de la Fundación Mestizoamérica, en total concordancia con la ideología que guía su movimiento, esto es, cultivar los aportes culturales del vecindario en el marco de la diversidad y heterogeneidad que caracterizan a toda nuestra América mestiza. Surgió como un plan amplio y sostenido en el tiempo por parte de la comisión directiva de la Fundación: Sara Riquelme, Damián Suárez y Milton Suárez. Sobre la marcha, a este grupo se sumó Martín Carballo, quien oficia como bibliotecario y coordinador e instructor de los talleres de ajedrez.<br>
      | Como ya se ha dicho, el objetivo del trabajo en la Biblioteca Pública Villa Obrera es desarrollar un centro educativo, cultural y social como entendemos no debería faltar en ningún barrio de cualquier ciudad. Sabemos, por experiencia propia, que los resultados son magros y tardan en llegar; más aún cuando se cuenta con recursos económicos limitados prácticamente a las posibilidades personales de directivos y colaboradores. <br>
      span.last Es por eso que convocamos a diferentes entidades públicas y privadas con la esperanza de obtener recursos para seguir con nuestro trabajo de manera constante y sostenida. 
    .gallery
      .box1
      .box1
      .box1
      .box1
      .box1
  .content-left
    h2 Dejanos tu comentario    
    .comments-fb
  .content-right
    h2 Compartí esta nota   
    ul.social-menu
      li 
        a(href="").fb
      li
        a(href="").tw
      li
        a(href="").blog    