.content
  .main-content
    .icon-clip
    h2.title-destacado 
      a(href="") Proyectos 
    ul
      li.icon-flecha
        h1.title-proyect
          a(href="") Proyecto 1
        p Además, se espera sumar toda actividad educativa y cultural que pueda contribuir a la formación de los vecinos del barrio y a la nuestra propia.
      li.icon-flecha
        h1.title-proyect
          a(href="") Proyecto 2
        p Además, se espera sumar toda actividad educativa y cultural que pueda contribuir a la formación de los vecinos del barrio y a la nuestra propia.
  .secondary-content
    .icon-tips
    h2.title-secondary 
      a(href="") Otros proyectos
    ul
      li.icon-flecha
        a(href="") Proyecto 1
      li.icon-flecha
        a(href="") Proyecto 2
      li.icon-flecha
        a(href="") Proyecto 3 
      li.icon-flecha
        a(href="") Proyecto 4
      li.icon-flecha
        a(href="") Proyecto 5        
    