.site
  .site-main
    .content-wrap
      width: 40%
    .sidebar-primary
      width: 30%
      height:auto
      vertical-align:top
    .sidebar-secondary
      width: 30%
      height:auto
      vertical-align:top  