.site-main
  .news-home
    height: 200px
  .content-wrap
      width: 35%
  .sidebar-primary
    width: 30%
    height:auto
    vertical-align:top
  .sidebar-secondary
    width: 35%
    height:auto
    vertical-align:top