.site-header
  >div 
    wrap()
.site-main
  wrap()
  clearfy()
  .site-menu
    width: 100%
    padding-bottom: 10px
  .site-content
    float: left
    width: 100%
    >div 
      margin-left: 27%
      clearfy()
      border-left: solid 1px #666
      padding-left: 10px
  .site-sidebar
    width: 30%
    height:auto
    float: left
    margin-left: -100%
.site-footer
  >div 
    wrap()