.green-box
  position: relative
  width: auto
  height: 118px
  background: $green
  margin-top: 20px
  &:before
    background-image: url(images/pic-green.jpg)
    position: absolute
    right: 0
    top: 0
    width: 27px
    height: 30px
    content:""
  .icon-clip
    position: absolute
    top: 15px
    left: 15px
    &:before
      color: white
  h2
    position: absolute
    top: 20px
    left: 50px
    font-size: 20px
    color: white
    font-weight: bold
  .icon-flecha
    &.item1
      position: absolute
      top: 50px
      left: 40px
    &.item2
      position: absolute
      top: 80px
      left: 40px
  p
    font-size: 13px
    color: $white
    padding-left: 0
    line-height: 17px
    margin: 0
    width: 70%
    a
      text-decoration: none
      font-size: 13px
      color: $white
      &:hover
        color: #95c122
    &.item1  
      position: absolute
      top: 50px
      left: 65px
    &.item2
      position: absolute
      top: 80px
      left: 65px
    