.libros
  position: relative
  width: auto
  height: 118px
  background: #36A9FF
  .img
    background-image: url(images/pic-libro.jpg)
    position: absolute
    right: 0
    width: 28px
    height: 30px
  .icon-libro
    position: absolute
    top: 15px
    left: 15px
    &:before
      font-family: "mestizoamerica"
      font-size: 30px
      content:'\e80f'
      display: inline-block
      color: #81DAF5
      float: left
  h2
    position: absolute
    top: 20px
    left: 50px
    font-size: 20px
    color: #1D71B8
    font-weight: bold
    font-family: Arial
  .icon-flecha
    &.item1
      position: absolute
      top: 50px
      left: 40px
    &.item2
      position: absolute
      top: 80px
      left: 40px
  p
    font-size: 13px
    color: #fff
    font-family: Arial
    font-weight: bold
    padding-left: 0
    line-height: 17px
    margin: 0
    width: 70%
    a
      text-decoration: none
      font-size: 13px
      color: #fff
      font-family: Arial
      &:hover
        color: #A9F5F2
    &.item1  
      position: absolute
      top: 50px
      left: 65px
    &.item2
      position: absolute
      top: 80px
      left: 65px