.libros
  width: auto
  height: 118px
  background: #36A9FF
  margin: 0 20px
  h2
    font-size: 18px
    color: #1D71B8
    font-weight: bold
    font-family: Arial
    padding: 15px 0 0 40px
  p
    font-size: 13px
    color: #fff
    font-family: Arial
    font-weight: bold
    padding-left: 50px
    line-height: 17px
    margin: 0
    width: 70%
    a
      text-decoration: none
      font-size: 13px
      color: #fff
      font-family: Arial
      &:hover
        color: #A9F5F2
      