.novedades
  width: auto
  height: 118px
  background: #BE1622
  margin: 8px 20px 0 20px
  h2
    font-size: 15px
    color: #fff
    font-weight: normal
    font-family: Arial
    padding: 15px 0 0 40px
  .news
    margin: 0
    .news-image
      height: 50px
      width: 50px
      background: #1C1C1C
      float: left
      margin: 0 5px 0 40px 
      .news-more
        height: 20px
        width: 50px  
        width: 50px
        background: #6E6E6E
        float: left
        margin-top: 50px
        p
          color: #fff
          font-size: 8px
          font-style: italic
          font-family: Arial
          text-align: center
          padding: 5px 0 0 0
    h3
      color: #fff
      font-size: 10px
      font-style: italic
      font-family: Arial
      margin: 0
    h2
      font-size: 15px
      font-family: Arial
      font-weight: bold
      width: 90%
      margin: 0
      padding-top: 10px
      a
        color: #fff
        &:hover
          color: #F5BCA9         
    p
      color: #1C1C1C
      font-size: 7px 
      font-family: Arial