.donaciones
  width: auto
  height: 118px
  background: #E6E6E6
  p
    font-size: 13px
    color: #6E6E6E
  .ayudanos
    font-size: 15px
    color: #6E6E6E
    font-weight: bold
    float: left

    