.slide-news2
  clearfy()
  .news-home
    wrap()
    .banner
      position: relative
      clearfy()
      background: $orange
      height: auto
      .image
        width: 60%
        height: 174px
        background: url(images/taller.jpg)
        float: left
      .info
        float: left 
        width: 40%
        padding-left: 10px
        height: auto
        h1
          margin: 10px 0
          font-family: $hightlight
          a 
            color: $white
            font-size: 26px
            &:hover
              color: $Xlight-orange
        p
          color: $white
          font-size: 11px
          line-height: 15px
          width: 90%
        a.icon-plus
          position: absolute
          bottom: 10px
          right: 10px
          width: 20px
          height: 20px
          background: $white
          border-radius: 10px
          padding-left: 4px
          font-size: 20px
            