.banner
  background: #3AAA35
  width: 70%
  height: auto
  margin-top: 20px
  .image
    width: 60%
    height: 200px
    background: #569842
    float: left
  .info
    padding-left: 40px
    height: auto
    h3
      color: #fff
      font-size: 15px
      font-style: italic
      font-family: arial
      padding-top: 15px
    h2
      color: #fff
      font-size: 26px
      font-family: arial
    p
      color: #fff
      font-size: 11px
      font-family: arial
      line-height: 18px
      width: 80%