.slide-news
  clearfy()
  .news-home
    wrap()
    .banner
      position: relative
      clearfy()
      background: $green
      height: auto
      .image
        width: 65%
        height: 214px
        background: url(images/edificio.jpg)
        float: left
      .info
        float: left 
        width: 30%
        padding-left: 10px
        height: auto
        h2
          color: $white
          font-size: 15px
          font-style: italic
          padding-top: 15px
        h1
          margin: 0
          a 
            color: $white
            font-size: 26px
            &:hover
              font-weight: bold
        p
          color: $white
          font-size: 11px
          line-height: 15px
          width: 90%
        a.icon-plus
          position: absolute
          bottom: 10px
          right: 10px
          width: 25px
          height: 25px
          border-radius: 12px
          padding: 3px  
          background: $white
          font-size: 30px
 