.slide-news
  clearfy()
  .news-home
    wrap()
    .banner
      position: relative
      clearfy()
      background: #3AAA35
      height: auto
      .image
        width: 70%
        height: 214px
        background: url(images/edificio.jpg)
        float: left
      .info
        float: left 
        width: 30%
        padding-left: 10px
        height: auto
        h2
          color: #fff
          font-size: 15px
          font-style: italic
          font-family: arial
          padding-top: 15px
        h1
          margin: 0
          a 
            color: #fff
            font-size: 26px
            font-family: arial
            &:hover
              font-weight: bold
        p
          color: #fff
          font-size: 11px
          font-family: arial
          line-height: 15px
          width: 90%
        a.icon-plus
          position: absolute
          bottom: 10px
          right: 10px
          width: 25px
          height: 25px
            