.face
  width: 32px
  height: 32px
  float: left
  background: #36A9E1
.tw
  width: 32px
  height: 32px
  float: left
  background: #36A9E1 
.blog
  width: 32px
  height: 32px
  float: left
  background: #36A9E1  