.sub-menu
  width: auto
  height: 118px
  background: $gray
  position: relative
  margin-bottom: 20px
  padding: 20px
  ul
    li
      a
        color: $white
        font-size: 15px
        display: block
        padding: 5px 0 2px 0
        border-bottom: 1px solid $light-gray