header.site-header
  .content-home
    .slide-header 
    .header-elements
      .logo
      .header-destacado
        p
          |Convocamos a <strong>personas</strong><br>que nos aporten sus conocimientos<br>y su trabajo para <big>contribuir al</big>
        p.right
          |rescate de la 
          strong cultura<br>
          |y la 
          strong educación<br>
          span.gris de nuestro pueblo.
      a(href="").boton-donaciones
        p Vos podés <strong>AYUDARNOS</strong>
      ul.social-menu
        li 
          a(href="").fb
        li
          a(href="").tw
        li
          a(href="").blog