header.site-header
  .content-internal
    .slide-header 
    .header-elements
      .logo
      .header-destacado
        p
          |Desarrollamos actividades <br>para<strong>contribuir al</strong><br>
        p.right
          |rescate de la <strong>cultura</strong><br>y la <strong>educación</strong><br>de nuestro pueblo.
      ul.social-menu
        li 
          a(href="").fb
        li
          a(href="").tw
        li
          a(href="").blog
      a(href="").boton-donaciones
        p Vos podés <strong>AYUDARNOS</strong>
      