header.site-header
  .content
    .slide-header 
    .header-elements
      .logo
      .header-destacado
      .boton-donaciones
        p Vos podés AYUDARNOS
      ul.social-menu
        li 
          a(href="").fb
        li
          a(href="").tw
        li
          a(href="").blog