.sidebar-secondary
  width: 35%
  height:auto
  vertical-align:top
  .title
      font-weight: normal
      font-family: Arial
      margin: 0
      font-size: 26px
      a
        color: #575757
        text-decoration: none
        &:hover
          color: #95C122
  .text-links
    font-weight: normal
    margin: 10px
    font-size: 11px
    font-family: Arial
    a
      color: #575757
      &:hover
        color: #95C122
        text-decoration: none
