.site-footer 
  background: #BE1622
  height: 200px
  .logo
    background: url("images/logo-MA.jpg") no-repeat
    margin: 0
    width: 100px 
    height: 100px
    float: left
  .site-info 
    .content-footer
      .title
        width: 30%
        font-size:26px
        color: #DF9D90        
      p
        font-size:11px
        line-height: 18px
        float:right
        color: #DF9D90
       
      
