.site-main 
  .site-menu
    .main-navigation
      wrap()
      ul.nav-menu 
        background-image: url(images/nav.jpg)
        padding:0
        margin: 0
        height: 36px
        li 
          float:left
          width: 13%
          .nav-orange
            background-color: $orange
            border-top: solid 6px $light-orange
          .nav-blue
            background-color: $blue
            border-top: solid 6px $light-blue
          a
            color: $white
            display: block
            font-family: $hightlight
            font-size: 13px
            line-height: 30px
            text-decoration: none
            text-align: center
            padding:0
            &:hover
              background: $gray
              border-top: solid 6px $light-gray
              line-height: 30px
              color: $white
              font-style: normal 
  
    
    
