doctype html

html
  include areas/head
  body
    header.site-header
      block header
    .site-main
      .site-menu
        include areas/nav
      .site-content
        div 
          block content
      .site-sidebar
        block sidebar
    include areas/footer