.sidebar-primary
  div.sidebar-libros.libros
    h2 Libros
    p 
      a(href="") La región canta y cuenta
    p
      a(href="") La región canta y cuenta II
  div.sidebar-novedades.novedades
    h2 NOVEDADES
    div.news
      div.news-image
        div.news-more
          p Leer más
      h3 Avance de obra
      h2 
        a(href="") Edificación del nuevo salón 