.sidebar-secondary
  h2.title
    a(href='google.com') Novedades
  div.news  
    div.news-image
      div.news-more
        p Leer más
    h3 Avance de obra
    h2 
      a(href="") Edificación del nuevo salón        
    p Con la construcción se intenta dotar a la biblioteca de un espacio cómodo para la realización de las diferentes actividades que se generan con la puesta en marcha del plan CCI y CDI.
  div.news  
    div.news-image
      div.news-more
        p Leer más
    h3 Avance de obra
    h2 
      a(href="") Edificación del nuevo salón        
    p Con la construcción se intenta dotar a la biblioteca de un espacio cómodo para la realización de las diferentes actividades que se generan con la puesta en marcha del plan CCI y CDI.
  div.news  
    div.news-image
      div.news-more
        p Leer más
    h3 Avance de obra
    h2 
      a(href="") Edificación del nuevo salón        
    p Con la construcción se intenta dotar a la biblioteca de un espacio cómodo para la realización de las diferentes actividades que se generan con la puesta en marcha del plan CCI y CDI.        