.main-content
  width: 60%
  float: left
  padding: 0 20px 10px 0
  margin-top: 30px
  .title-destacado
    a
      margin: 0 0 0 10px
      font-size: 26px
      text-transform: uppercase
      color: $gray
      text-decoration: none
      &:hover
        color: $green-hover
  ul
    li.icon-flecha
      line-height: 22px
      &:before
        font-size: 15px
        margin-left: 20px
      a 
        display: block
        margin-left: 40px
        font-size: 12px
        color: $gray
        &:hover
          color: 04B404
  p 
    font-size: 12px
    color: $gray
    line-height: 15px 
    padding-bottom: 20px    

.secondary-content
  border-left: solid 1px $gray
  width: 40%
  float: left
  padding: 0 10px
  margin-top: 30px
  .icon-tips
    &:before
      color: $green-hover
  .title-destacado
    a
      font-weight: normal
      margin: 0 0 0 10px
      font-size: 26px
      text-transform: uppercase
      color: $gray
      text-decoration: none
      &:hover
        color: $green-hover    
  