.site
  .site-main
    background-color: #fff
    .news-home
    .content-wrap
      .title
        font-weight: normal
        margin: 0
        font-size: 26px
        color: #575757
      .text
        font-weight: normal
        margin: 0
        font-size: 11px
        color: #575757
        a
          color: #575757
          &:hover
            color: #95C122
            text-decoration: none
      .paging-navigation
        background-color: #D9D9D9
        height: 10px
        width: 10px
        line-height: 0
        text-align: center
    .sidebar-primary
    .sidebar-secondary
      color: #fff
      /*aca la especificacion para novedades stream*/