.site-main
  width: 960px
  background-color: #fff
  .news-home
    height: auto
  .content-wrap
    .title-principal
      font-weight: normal
      font-family: Arial
      margin: 0
      font-size: 26px
      a
        color: #575757
        text-decoration: none
        &:hover
          color: #95C122
    .text-principal
      font-weight: normal
      margin: 10px
      font-size: 11px
      font-family: Arial
      color: #575757