.content-info
  wrap()
  padding: 20px 20px 0 10px
  .title-blue
    font-weight: bold
    margin: 0
    padding: 0
    font-size: 26px
    color: $blue
    clear: both
    padding-bottom: 10px
  .text-main
    float: left
    width: 60%
    margin: 10px 0 30px 0
    p 
      font-size: 13px
      line-height: 16px
      color: $gray    
      text-align: justify
  .historia
    width: 100%
  .img-main
    width: 250px
    height: 170px
    background: $orange
    float: right
    margin-top: 10px