.content
  .content-info
    .title-elements 
      position: relative
      height: 200px
      color: $gray
      float: left
      width: 50%
      padding-right: 10%
      border-bottom: solid 1px $gray
      .teme
        font-style: italic
        font-size: 12px
      .title-main
        font-weight: bold
        font-size: 35px
      .bajada 
        font-size: 14px
        line-height: 17px
      .date
        font-size: 9px
        position: absolute
        left: 0
        bottom: 0
    .image
      height: 200px
      width: 50%
      background: $gray
    .text-main 
      width: 100%
      font-size: 12px 
      line-height: 17px
      text-align: justify
      .last
        padding-top: 20px
        display: block
    .gallery
      clearfy ()
      border-bottom: solid 1px $gray
      padding-bottom: 10px
      .box1
        float: left
        height: 100px
        width: 19%
        background: $gray
        margin-right: 1%
  .content-left
  .content-right
    float: left
    h2 
      color: $blue
      font-family: $hightlight
      font-size: 20px
      padding-top: 20px
      font-weight: bold
  .content-left
    width: 60%
    padding-left: 10px
    .comments-fb    
      width: 380px
      height: 81px
      background: url(images/comments-fb.jpg)
  .content-right
    width: 40%
    .social-menu
      float: left