.content
  ul
    li.icon-flecha
      margin: 20px 0 10px 20px
      border-bottom: 1px solid $Xlight-gray
      &:before
        margin: 0
      a
        margin: 0
      p
        margin-left: 40px
      .title-proyect
        a 
          display: block
          font-size: 20px
          color: $gray
          &:hover
            color: $green-hover
  .secondary-content
    .title-secondary
      a
        margin: 0 0 0 10px
        font-size: 15px
        text-transform: uppercase
        color: $gray
        text-decoration: none
        &:hover
          color: $green-hover
        