$blue = #0a5593
$lblue = #95c5ed
$hblue = #5aa5e2
$navblue = #094E88
$navhblue = #073A64
$lineblue = #5590BB
$socialblue = #74aede
$fblue = #2371B1
$red = #ce1126
$bordo = #7E1A24
$redover = #860001
$tred = #cd162b
$lgrey = #e9e9e9
$lightgrey = #F0F2F4
$hrgrey = #615f60
$grey = #bcbcbc
$tgrey = #ACACAC
$backgrey = #d8dbdd
$almostblack = #121415

$linksc = $red
$links_hover = $redover
