$text_color = #666
$white = #fff

$orange = #e94e17
$light-orange = #f39200
$Xlight-orange = #FFE8BF

$blue = #1d71b8
$light-blue = #36a9e1
$Xlight-blue = #C1E3E7

$gray = #6F6F6F
$light-gray = #c6c6c6
$Xlight-gray = #E1E3E4
$dark-gray = #333333

$green = #3aaa35
$green-hover = #95c122
$linksc = #333
$links-hover = $green-hover

$red = #E6332A 
$light-red = #F58661
$dark-red = #BE1622
$red-hover = #860001
$pink = #F78181

