wrap()
  width: 100%
  max-width: 960px
  margin: 0 auto
  position: relative

clearfy() 
  &:after
    content: ''
    clear:both
    display: block
    width: 100%
    
.social-menu
  li
    a
      &.fb
        display: inline-block
        width: 30px
        height: 30px
        border-radius:90px
        background: #0062AE
        float: left  
        margin-top: 10px
      &.tw
        display: inline-block
        width: 30px
        height: 30px
        border-radius:90px
        background: #0062AE
        float: left  
        margin-top: 10px
      &.blog
        display: inline-block
        width: 30px
        height: 30px
        border-radius:90px
        background: #0062AE
        float: left  
        margin-top: 10px



