wrap()
  width: 100%
  max-width: 960px
  margin: 0 auto
  position: relative

clearfy() 
  &:after
    content: ''
    clear:both
    display: block
    width: 100%
    
social-icon(caracter)
  display: block
  background: none
  &:before
    background: #0062AE
    icon(caracter) 
    border-radius: 90px
    width: 30px
    height: 30px
    display: inline-block
    color: white
    font-size: 16px 
    line-height: 30px
    text-align: center
    
.social-menu
  display: inline-block
  float: right
  clear: both
  margin-right: 15px
  li
    float: left
    a
      margin: 10px 5px 0 0
      &.fb
        social-icon('\e803')
      &.tw
        social-icon('\e804')
      &.blog
        social-icon('\e801')
      &:hover:before  
        color: #2DAAE1
        
.icon-tips
  &:before
    font-family: "mestizoamerica"
    font-size: 25px
    content:'\e810'
    display: inline-block
    color: white
    float: left 
.icon-flecha
  &:before
    font-family: "mestizoamerica"
    font-size: 20px
    content:'\e80a'
    display: inline-block
    color: #666
    float: left
    background: white
    width: 20px
    height: 20px
    border-radius: 10px
    line-height: 20px    
.icon-clip
  &:before
    font-family: "mestizoamerica"
    font-size: 30px
    content:'\e806'
    display: inline-block
    color: #95C120
    float: left  
.icon-plus  
  &:before
    font-family: "mestizoamerica"
    content:'\e800'
    display: inline-block
    color: #95C120
    
.icon-mail    
  width: 40px
  height: 40px
  border-radius:90px
  background: white
  text-align: center
  padding-top: 8px
  float: left
  margin-right: 10px
  &:before
    font-family: "mestizoamerica"
    font-size: 25px
    content:'\e802'
    display: inline-block
    color: #666
    margin: 0

.article
  margin: 20px 0 15px 0
  border-bottom: 1px solid #666
  padding-bottom: 20px
  .article-wrapper
    .thumbnail
      float: left
      height: 100px
      background-color: #666
      width: 80px
      margin-right: 10px
      img
        width: 80px
        height: 70px
        background-color: #088A08
      .icon-plus
          background: white
          width: 15px
          height: 15px
          border-radius: 7px
          line-height: 17px
          padding-left: 3px
          float: left
          font-size: 15px
          margin: 0 5px
      a 
        font-size: 12px
        color: white
        &:hover
          color: #04B404
    h2  
      font-style: italic
      margin: 0
      font-size: 11px
      color: #2E2E2E
      padding-bottom: 5px
    
    h1
      margin: 0
      line-height: 20px
      a
        margin: 0
        font-size: 20px
        color: #2E2E2E
        &:hover 
          color: #088A08
    p 
      margin: 0
      font-size: 11px
      color: #2E2E2E
      line-height: 14px
      padding-left: 90px    

