.site-header
  background-color: $Xlight-blue
  .content-home
    height: 380px
    padding: 0
    position: relative
    .slide-header
      background: transparent url(images/header.png) no-repeat  center center
      height: 380px
    .header-elements
      height: 380px
      width: 100%
      position: absolute
      top: 0
      left: 0
      .logo
        background-image:url(images/logo-MA.png) 
        margin: 150px 0 0 0
        width: 250px 
        height: 173px
        float: left
      .header-destacado
        width: auto
        margin: 130px 20px 0 0
        float:right
        clear:right
        p
          font-family: $hightlight
          font-size: 15px
          line-height: 18px
          color: $dark-gray
          text-align: left
          text-align:left
          &.right
            text-align: right
            font-size: 20px
            line-height: 20px
            color: $light-blue
            margin-top: 5px
          .gris
            color: $dark-gray
            font-size: 18px
      .boton-donaciones
        width: 115px
        height: 45px
        border-radius:10px
        display: block
        background: $red
        margin: 20px 20px 0 0
        float:right
        clear:right
        p
          font-family: $hightlight
          font-size: 15px
          line-height: 15px
          color: white
          text-align: center
          padding-top: 7px


                 
        