footer.footer.site-footer
  div.logo Fundación Mestizo América
  include nav-footer
  div.donaciones
    h2 Donaciones
  div.contacto
    p 
      | Contactate con nosotros 
      | al 0810-555-9968
    