footer.site-footer
  .content
    .columna-1 
      .logo
      include nav-footer
      ul.social-menu
        li 
          a(href="").fb
        li
          a(href="").tw
        li
          a(href="").blog
    .columna-2 
      h1
        a(href="") Donaciones
      a(href="").icon-plus
      p 
        a(href="") Vos podés <br> ayudarnos
    .columna-3 
      h1
        a(href="") Contacto
      a(href="").icon-mail
      p 
        a(href="") Contactate con nosotros <br> al 0810-555-9968
    