header
  div.site-header
    div.logo
    div.header-destacado
    div.boton-donaciones
      p Vos podés AYUDARNOS
    ul.social-menu
      li 
        a(href="").fb
      li
        a(href="").tw
      li
        a(href="").blog