nav.nav-footer
  div.main-navigation
    ul.nav-menu 
      li 
        a(class='nav-orange', href='google.com') La Fundación
      li 
        a(class='nav-orange', href='google.com') Reconocimientos
      li 
        a(class='nav-blue', href='google.com') Actividades
      li 
        a(class='nav-blue', href='google.com') Proyectos
      li 
        a(class='nav-blue', href='google.com') Novedades
      li 
        a(class='nav-blue', href='google.com') Donaciones
      li 
        a(class='nav-blue', href='google.com') Contacto
    div.bottom    