/*
 Theme Name:     bsapr
 Description:    Twenty Thirteen Child Theme
 author:         Bracketmedia
 Author URI:     http://bracketmedia.com
 Template:       twentythirteen
 Version:        1.0.0
*/
//@import url("../twentythirteen/style.css");


@import 'sources/styles/node_modules/nib'

@import 'sources/styles/commons/clean.styl'
@import 'sources/styles/commons/colors.styl'
@import 'sources/styles/commons/fonts.styl'
@import 'sources/styles/commons/base.styl'
@import 'sources/styles/commons/functions.styl'

@import 'sources/styles/areas/header/home.styl'
@import 'sources/styles/areas/header/internal.styl'
@import 'sources/styles/areas/nav.styl'
@import 'sources/styles/areas/nav-footer.styl'
@import 'sources/styles/areas/footer.styl'

@import 'sources/styles/areas/layout/front-page.styl'
@import 'sources/styles/areas/layout/simple-sidebar.styl'
@import 'sources/styles/areas/layout/double-sidebar.styl'

@import 'sources/styles/areas/content/front-page.styl'
@import 'sources/styles/areas/content/simple-sidebar.styl'
@import 'sources/styles/areas/content/double-sidebar.styl'

@import 'sources/styles/areas/sidebar/primary.styl'
@import 'sources/styles/areas/sidebar/secondary.styl'

@import 'sources/styles/partials/slider.styl'
@import 'sources/styles/partials/social.styl'
@import 'sources/styles/partials/sidebar-novedades.styl'
@import 'sources/styles/partials/sidebar-blog.styl'
@import 'sources/styles/partials/sidebar-libros.styl'
@import 'sources/styles/partials/sidebar-donaciones.styl'
@import 'sources/styles/partials/news.styl'


.wrap
  width: 100%
  max-width: 960px
  margin: 0 auto
  position: relative
