/*
 Theme Name:     bsapr
 Description:    Twenty Thirteen Child Theme
 author:         Bracketmedia
 Author URI:     http://bracketmedia.com
 Template:       twentythirteen
 Version:        1.0.0
*/
//@import url("../twentythirteen/style.css");


@import 'sources/styles/node_modules/nib'

@import 'sources/styles/commons/clean.styl'
@import 'sources/styles/commons/colors.styl'
@import 'sources/styles/commons/fonts.styl'
@import 'sources/styles/commons/base.styl'
@import 'sources/styles/commons/functions.styl'

@import 'sources/styles/areas/header/home.styl'
@import 'sources/styles/areas/header/internal.styl'
@import 'sources/styles/areas/nav.styl'
@import 'sources/styles/areas/footer.styl'

@import 'sources/styles/areas/layout/layout.styl'

@import 'sources/styles/areas/content/home.styl'
@import 'sources/styles/areas/content/fundacion.styl'
@import 'sources/styles/areas/content/actividades.styl'
@import 'sources/styles/areas/content/proyectos.styl'
@import 'sources/styles/areas/content/novedades.styl'
@import 'sources/styles/areas/content/novedades-internal.styl'

@import 'sources/styles/areas/sidebar/primary.styl'

@import 'sources/styles/partials/slide.styl'
@import 'sources/styles/partials/slide2.styl'
@import 'sources/styles/partials/blue-box.styl'
@import 'sources/styles/partials/red-box.styl'
@import 'sources/styles/partials/green-box.styl'
@import 'sources/styles/partials/orange-box.styl'
@import 'sources/styles/partials/sub-menu.styl'


.wrap
  width: 100%
  max-width: 960px
  margin: 0 auto
  position: relative
