.sidebar-libros.libros
  .img
  .icon-libro
  h2 Libros
  .icon-flecha.item1
  p.item1 
    a(href="") La región canta y cuenta
  .icon-flecha.item2
  p.item2
    a(href="") La región canta y cuenta II