mixin article (copete)
  .article
    .article-wrapper
      h2= copete
      if block
        block
      else
        img(src="#{img}")
        h1 a(href="")= No content provided
        

.sidebar-novedades.novedades
  .banda-roja
  .img
  .icon-tips
  h1 Novedades
  .news
    +article("Avance de la obra")
      img(src="")
      h1
        a(href="") Edificación de un nuevo salón
      