.slideshow
  div.news-home
    div.slider.banner
      div.image
      div.info
        h3 Avance de obra
        h2 Edificación del nuevo salón  
        p Con la construcción se intenta dotar a la biblioteca de un espacio cómodo para la realización de las diferentes actividades que se generan con la puesta en marcha del plan CCI y CDI.