.slide-news
  div.news-home
    div.banner
      div.image
      div.info
        h2 Avance de obra
        h1 
          a(href="") Edificación del nuevo salón  
        p Con la construcción se intenta dotar a la biblioteca de un espacio cómodo para la realización de las diferentes actividades que se generan con la puesta en marcha del plan CCI y CDI.
        a(href="").icon-plus
          