.slide-news2
  .news-home
    .banner
      .image
      .info
        h1 
          a(href="") Lectura grupal  
        p La biblioteca es un espacio cómodo para la realización de las diferentes actividades.
        a(href="").icon-plus
          